<!--<input type="text" [id]="myId" placeholder="Enter Id" [value]="myValue">

<h1 [class.text-green]="isSuccess">Success!</h1>

<p [style.color]="colorGreen">My color is {{ colorGreen }}</p>

<input type="text" (keyup)="alertNow($event.target)">

<button class="btn btn-primary" (click)="alertNow(input)">CLICK ME</button>
<p>{{   alert }}</p>

<div *ngIf="show; else elseBlock">SHOW ME</div>
<ng-template #elseBlock>It's hidden</ng-template>

<label for="inputStudent">Enter Student Name</label>
<input id="inputStudent" type="text" #student>
<button (click)="addStudent(student)">ADD</button>

<div>
  <ol>
    <li *ngFor="let student of students">
      {{ student }}
    <button (click)="removeEntry(i)" class="btn-danger">REMOVE</button>
  </li>

  </ol>
</div> -->


<!--
<div class="row">
  <div class="col-sm-12">
    <label for="dateToday">Date:</label>
    <input type="text" id="dateToday" [value]="dateObject | async | date: 'mediumTime'" disabled>
  </div>
  
</div>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="subject">Subjects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="student">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>
      <li>
         <label for="search">Search</label>
      </li>
      <li>
        <input type="text" class="form-control" class="form-control" id="search" [(ngModel)]="keyword">
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

